<link href="@Url.Content("~/Extension/timepicker-master/timepicki.css")" rel="stylesheet"/>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1><strong>@ViewBag.title</strong></h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="timeFrom">
                            Từ 
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input type="text" id="timeFrom" name="timeFrom" class="form-control col-md-7 col-xs-12" date-compare=true />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="timeTo">
                            Đến
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input type="text" id="timeTo" name="timeTo" class="form-control col-md-7 col-xs-12" date-compare=true />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12" for="unitPrice">
                            Đơn giá (phút)
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <input type="text" id="unitPrice" name="unitPrice" class="form-control col-md-7 col-xs-12" />
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                            <button class="btn btn-warning" type="button" id="cancelbutton"><i class="fa fa-times"></i> Hủy</button>
                            <button class="btn btn-primary" type="reset"><i class="fa fa-refresh"></i> Nhập lại</button>
                            <button class="btn btn-success" type="button" id="sumbitbutton"><i class="fa fa-check"></i> Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/inputmask")
<script src="@Url.Content("~/Extension/timepicker-master/timepicki.js")"></script>
<script src="@Url.Content("~/Scripts/pricePayroll.js")"></script>