<link href="@Url.Content("~/Extension/select2/select2.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />
<div class="row">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                @{
                    long sum = 0;
                    DateTime dateFrom = ViewBag.DateFrom;
                    DateTime dateTo = ViewBag.DateTo;
                    int employyee = ViewBag.EmployeeId;
                    <form id="formReport" data-parsley-validate class="form-horizontal form-label-left" method="post">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-12">Từ ngày</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="dateFrom" name="dateFrom" class="form-control has-feedback-left" />
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-12">Đến ngày</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="dateTo" name="dateTo" class="form-control has-feedback-left" />
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="col-md-4 col-sm-4 col-xs-12">Nhân viên</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select name="employee" id="employee" style="width:100%">
                                        <option value="0">Tất cả</option>
                                        @foreach (QUANLYTIEC.Models.TBL_EMPLOYEE item in ViewBag.Employee)
                                        {
                                            <option value="@item.EmployeeID" @( (employyee == item.EmployeeID) ? "selected" : "")>@item.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <button class="btn btn-warning" type="button" id="watch">Xem</button>
                                <button class="btn btn-primary" type="button" id="printButton">Xuất báo cáo</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <table id="datatable-report" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Giờ đến</th>
                                        <th>Giờ đi</th>
                                        <th>Tiền lương</th>
                                        <th>Đơn vị</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.dataTable != null)
                                    {
                                        string nameEmployeeBefore = "";
                                        long sumItem = 0;
                                        var dt = ViewBag.dataTable;
                                        for (int i = 0; i < ViewBag.dataTable.Rows.Count; i++)
                                        {
                                            string nameEmployeeCurrent = dt.Rows[i]["FullName"].ToString();
                                            sum += Convert.ToInt64(dt.Rows[i]["TotalAmount"]);
                                            if (nameEmployeeBefore != nameEmployeeCurrent)
                                            {
                                                nameEmployeeBefore = nameEmployeeCurrent;
                                                if (i != 0)
                                                {
                                                    <tr style="font-weight:bold">
                                                        <td colspan="3" style="text-align: center">Cộng: </td>
                                                        <td style="text-align: right">@sumItem.ToString("#,##0.####")</td>
                                                        <td></td>
                                                    </tr>
                                                    sumItem = 0;
                                                }
                                                <tr>
                                                    <td colspan="5">
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <label class="col-md-4 col-sm-4 col-xs-12">Tên nhân viên: @dt.Rows[i]["FullName"].ToString()</label>
                                                                <label class="col-md-4 col-sm-4 col-xs-12">Vị trí: @dt.Rows[i]["PositionName"].ToString()</label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            sumItem += Convert.ToInt64(dt.Rows[i]["TotalAmount"]);
                                            <tr>
                                                <td style="text-align:center">
                                                    @Convert.ToDateTime(dt.Rows[i]["Date"]).ToString("dd/MM/yyyy")
                                                </td>
                                                <td style="text-align:center">
                                                    @Convert.ToDateTime(dt.Rows[i]["CheckIn"]).ToString("HH:mm")
                                                </td>
                                                <td style="text-align:center">
                                                    @Convert.ToDateTime(dt.Rows[i]["CheckOut"]).ToString("HH:mm")
                                                </td>
                                                <td style="text-align:right">
                                                    @Convert.ToDecimal(dt.Rows[i]["TotalAmount"]).ToString("#,##0.####")
                                                </td>
                                                <td style="text-align:center">
                                                    @dt.Rows[i]["UOM"].ToString()
                                                </td>
                                            </tr>
                                            if (i == (ViewBag.dataTable.Rows.Count - 1))
                                            {
                                                <tr style="font-weight:bold">
                                                    <td colspan="3" style="text-align: center">Cộng: </td>
                                                    <td style="text-align: right">@sumItem.ToString("#,##0.####")</td>
                                                    <td></td>
                                                </tr>
                                                <tr style="font-weight:bold">
                                                    <td colspan="3" style="text-align: center">Tổng Cộng: </td>
                                                    <td style="text-align: right">@sum.ToString("#,##0.####")</td>
                                                    <td></td>
                                                </tr>
                                                sumItem = 0;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <script>
                        var dateFrom = new Date(@Html.Raw(dateFrom.Year + "," + (dateFrom.Month - 1) + "," + dateFrom.Day));
                        var dateTo = new Date(@Html.Raw(dateTo.Year + "," + (dateTo.Month - 1)+ "," + dateTo.Day));
                    </script>
                }
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Extension/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script src="@Url.Content("~/Extension/select2/select2.min.js")"></script>
<script src="@Url.Content("~/Scripts/report/reportAttendance.js")"></script>