<link href="@Url.Content("~/Extension/select2/select2.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />
@Styles.Render("~/Style/datatable")
<div class="page-title">
    <div class="title_left">
        <h3>Nguyên liệu nhà cung cấp</h3>
    </div>
</div>
<div class="row">
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form id="formReport" data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label class="col-md-4 col-sm-4 col-xs-12">Từ ngày</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="dateFrom" name="dateFrom" class="form-control has-feedback-left" />
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label class="col-md-4 col-sm-4 col-xs-12">Đến ngày</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="dateTo" name="dateTo" class="form-control has-feedback-left" />
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label class="col-md-4 col-sm-4 col-xs-12">Nhà cung cấp</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select name="vendor" id="vendor" style="width:100%">
                                    <option value="0" selected="selected">Tất cả</option>
                                    @foreach (QUANLYTIEC.Models.TBL_VENDOR item in ViewBag.Vendor)
                                    {
                                        <option value="@item.VendorID">@item.VendorName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <button class="btn btn-warning" type="button" id="watch">Xem</button>
                            <button class="btn btn-primary" type="button" id="printButton">Xuất báo cáo</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="datatable-report" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nguyên vật liệu</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Điện thoại bàn</th>
                                    <th>Điện thoại di động</th>
                                    <th>Địa chỉ</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/datatable")
<script src="@Url.Content("~/Extension/select2/select2.min.js")"></script>
<script src="@Url.Content("~/Extension/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script src="@Url.Content("~/Scripts/report/reportMaterialByVendor.js")"></script>